.language-button-container {
  position: absolute;
  right: 30px;
  top: 30px;
}
.language-select-button {
  filter: drop-shadow(0 0 15px #baac91);
  outline: none;
  border: none;
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
}
.language-select-button.main {
  z-index: 1;
}
.language-select-button img {
  width: 30px;
}
.language-item {
  position: absolute;
  top: 0;
  left: 0;
}
