.experience-items-container {
  margin-top: 10px;
}
.experience-item {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: 'Jost', sans-serif;
  position: relative;
}
.experience-item::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #8a84ff;
  position: absolute;
  left: 36px;
  top: 7px;
  border-radius: 50%;
}
.experience-item-date {
  width: 14%;
  opacity: 0.7;
  font-size: 13px;
  margin-top: 5px;
}
.experience-item-line {
  width: 2px;
  background-color: #8a84ff;
  align-self: flex-end;
}
.experience-item-section {
  padding: 5px 0 1px 13px;
  width: 85%;
  font-size: 13px;
}
.experience-item-text {
  font-size: 13px;
  margin: 5px 0 0 0;
  opacity: 0.7;
}
